.semaforo{
    background-color:lightslategrey;
    width: 250px;
    height: 650px;
    border: 3px solid black;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2.5%;
}

.rojo {
    background-color: red;
    width: 65%;
    height: 25%;
    border : 2px solid black;
    border-radius: 50%;
    opacity: 0.4;
    
}


.amarillo{
    background-color: yellow;
    width: 65%;
    height: 25%;
    border : 2px solid black;
    border-radius: 50%;
    opacity: 0.4;
    
}



.verde {
    background-color: green;
    width: 65%;
    height: 25%;
    border : 2px solid black;
    border-radius: 50%; 
    opacity: 0.4;
    
}

.glow-red {
    opacity: 1;
    box-shadow: 0px 0px 40px red;
}

.glow-yellow {
    opacity: 1;
    box-shadow: 0px 0px 40px yellow;
}

.glow-green {
    opacity: 1;
    box-shadow: 0px 0px 60px #66FF33;
}